// landingContent.templ
package views

templ LandingContent() {
    <div class="main-wrapper">
        <h1>Willkommen beim AzubiTool</h1>
        <p>Hier findest du alle wichtigen Tools, die dir den Arbeitsalltag erleichtern!</p>
    </div>
}
