// bcs_data.templ
package views

import "AzubiTool/internal/domain"

templ TransferContent(data map[string]any) {
    <div class="main-wrapper">
        <h1>BCS -> Blok</h1>
        if u, ok := data["user"].(domain.User); ok {
            {u.Oid}
        }
    </div>
}
